body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #070708 !important;
  font-family: 'Outfit', sans-serif;
  font-weight: 500;
  font-style: normal;
}